{% extends "base.html" %}
{% block title %} 註冊帳號 {% endblock %}
{% block content %}
<div class="container">
<!-- 	{% if message %}
	<div class="alert alert-warning">{{ message }}</div>
	{% endif %} -->

	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">{{ message }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h3>啟用失敗，感謝註冊</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}