<div class="card bg-light mb-3" >
  <div class="card-body" align="center">

聯絡我們:&emsp;
        <i class="bi bi-telephone">0983867688</i>&emsp;
        <i class="bi bi-envelope">tank910217@gmail.com</i><br>

    <a href="https://m.facebook.com/messages/thread/100003843109341">
        <i class="bi bi-messenger"></i>
    </a>
    &emsp;
    <a class="navbar-brand" href="mailto:tank910217@gmail.com">
        <i class="bi bi-google"></i>
    </a><br>
    <em>Copyright 2022 Lin. All rights reserved.</em>

  </div>
</div>