{% extends 'base.html' %}
{% load static %}
{% block title %}登入{% endblock %}
{% block content %}

<div class="card mb-3">
  <img src="{% static 'images/b.png' %}" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="card-title text-center text-white">帳號登入</h1>
  </div>
  <div class="card-body">

<div class="container">
	{% for message in messages %}
	<div class="alert alert-{{message.tags	}}">{{message}}</div>
	{% endfor%}

</div>

<div class="card bg-light">
  <div class="card-body">
     <div class="row">
         <div class="col-md-12">
			<h3>帳號登入</h3>
        </div>
    </div>

  </div>
    <div class="card-footer text-muted">
    	<form action="." method="POST">
		{% csrf_token %}
		<table>
			{{login_form.as_table }}
		</table>
		<input type="submit" value="submit">
	</form>
    </div>

</div>
</div>
</div>

{% endblock %}